/*TEXT STYLE*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-size: 45px;
    line-height: 50px;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(0, 0, 0);
    font-size: 18px;
    line-height: 26px;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    color: rgb(68, 68, 68);
    font-size: 30px;
    line-height: 33px;
}

h4 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    color: rgb(68, 68, 68);
    font-size: 30px;
    line-height: 33px;
}

h5 {
    text-align: center;
    color: #333;
    background-color: #f8f8f8;
    font-weight: 30;
    font-size: 25px;
    border-radius: 10px;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    position: relative; /* Navbar'ın pozisyonu relative olarak ayarlandı */
    z-index: 1000; /* Yüksek bir z-index değeri */
    height: 40px;
}

.navbar-logo img {
    max-width: 200px;
    height: auto;
    margin-top: 0;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    position: absolute; /* Değişiklik burada */
    top: 10px; /* İstediğiniz yüksekliğe ayarlayabilirsiniz */
    right: 20px; /* Sağ tarafta olmasını sağlar */
    z-index: 1001; /* Menü açma butonu için daha yüksek bir z-index değeri */
}

.bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
}

.navbar-links {
    display: flex;
    list-style-type: none;
    margin-top: 15px;
}

.navbar-links li {
    float: right;
    line-height: 50px;
    text-align: center;
}

.navbar-links li a {
    display: block;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #333;
    font-size: 16px;
    line-height: 20px;
}

.navbar-links li a:hover {
    color: #e4344c;
}

/* Mobil Uyumluluk */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        height: 40px;
    }

    .navbar-logo {
        margin-bottom: 20px;
    }

    .navbar-toggle {
        display: flex;
    }

    .navbar-links {
        display: none;
        position: fixed;
        flex-direction: column;
        width: 100%;
        background-color: #e4344c;
        top: 60px;
        left: 0;
        text-align: center;
        z-index: 999; /* Menü için yüksek bir z-index değeri */
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-links li {
        float: none;
    }

    .navbar-links li a {
        display: block;
        color: white;
        padding: 20px 16px;
        text-decoration: none;
    }

    .navbar-links li a:hover {
        color: black;
    }

    .navbar-logo img {
        max-width: 200px;
        max-height: auto;
    }
}


/* FOOTER */
footer {
    background-image: url("/images/footer_bg.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    /* Sayfanın altına sabitle */
    width: 100%;
    z-index: 0;
}

.footer_container {
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    width: 80%;
}

.footer_1,
.footer_2 {
    flex: 1;
    min-width: 200px;
}

.footer_2 {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer_text_1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    color: rgb(51, 51, 51);
    font-size: 24px;
    line-height: 26px;
    text-decoration: underline;
    text-underline-offset: 15px;
    text-underline-position: 30px;
}

.footer_text_2 a {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(51, 51, 51);
    font-size: 16px;
    line-height: 23px;
    text-decoration: none;
    margin: 0 5px;
}

.footer_text_2 a:hover {
    color: #e4344c;
}

.footer_links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer_links li {
    margin: 0 5px;
    margin-bottom: 15px;
    font-size: 25px;
}

.footer_links li a {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(51, 51, 51);
    font-size: 16px;
    line-height: 23px;
    text-decoration: none;
}

.footer_links li a:hover {
    text-decoration: none;
    color: #e4344c;
}

.social_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    gap: 15px;
}

.social_button {
    display: flex;
    align-items: center;
    margin: 0 5px;
    text-decoration: none;
    color: rgb(51, 51, 51);
}

.social_button:hover {
    margin: 0 5px;
    text-decoration: none;
    /*Linklerin altındki çzigiyi kaldımak için*/
    color: #e4344c;
}

.social_button i {
    font-size: 20px;
    margin-right: 5px;
}

.social_button span {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(51, 51, 51);
    font-size: 16px;
    line-height: 23px;
    margin-left: 10px;
    text-decoration: none;
}

@media (max-width: 768px) {
    .footer_container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .footer_1,
    .footer_2 {
        flex: 1 1 100%;
        min-width: auto;
        margin-bottom: 20px;
        text-align: center;
    }

    .footer_text_1 {
        font-size: 20px;
    }

    .footer_text_2 a {
        font-size: 14px;
    }

    .footer_links li {
        font-size: 20px;
    }

    .social_buttons {
        flex-direction: row;
        gap: 10px;
    }

    .social_button i {
        font-size: 16px;
    }

    .social_button span {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .footer_text_1 {
        font-size: 18px;
    }

    .footer_text_2 a {
        font-size: 12px;
    }

    .footer_links li {
        font-size: 18px;
    }

    .social_buttons {
        gap: 5px;
    }

    .social_button i {
        font-size: 14px;
    }

    .social_button span {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .footer_links {
        flex-direction: row;
        /* Links side by side */
        flex-wrap: wrap;
        /* Wrap links if they overflow */
        justify-content: center;
        /* Center items horizontally */
    }

    .footer_links li {
        margin: 0 10px;
        /* Adjust margin between links */
    }

    .social_buttons {
        gap: 10px;
    }

    .social_button i {
        font-size: 16px;
    }

    .social_button span {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .footer_links li {
        font-size: 18px;
    }

    .social_buttons {
        gap: 5px;
    }

    .social_button i {
        font-size: 14px;
    }

    .social_button span {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .footer_text_1 {
        font-size: 18px;
    }

    .footer_text_2 a {
        font-size: 12px;
    }
}

/* HOME PAGE */
#button_hp1,
#button_hp2 {
    background-color: #e4344c;
    height: 50px;
    width: 200px;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    border-radius: 10px;
    font-size: 20px;
}

#button_hp1:hover,
#button_hp2:hover {
    color: black;
}

.homepage_container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.homepage_1 {
    width: auto;
    height: 600px;
    background-image: url("/images/homepage_bg.png");
    background-size: cover;
    background-position: center;
    margin-bottom: 100px;
    position: relative;
    /* Z-İNDEX= -1 bunu yapınca tooglebar en üstte kaldı bunu pamdan önce arkada kalıyodu*/
}

.homepage_1_inside {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    /* Dikeyde ortalama */
    justify-content: flex-start;
    /* Yatayda ortalama */
    flex-direction: column;
    /*ögeleri dikey sıralar*/
    padding-left: 30px;
    padding-top: 50px;
    position: absolute;
    /*homepage1 omepage 2 insidein altına gelmsi için*/
    top: 250px;
    /*z-index: -1;*/
}

#homepage_2 {
    background-color: white;
    color: #333;
    height: 300px;
    padding: 50px;
}

.homepage_2_inside {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

@media (max-width: 768px) {
    .homepage_1 {
        height: 400px;
    }

    .homepage_1_inside {
        top: 0%;
    }
}



/* SERVICES PAGE */
.services_container {
    width: 90%; /* Genişliği artırıldı */
    margin: 0 auto;
    margin-bottom: 100px;
}

.services_1 {
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 50px; /* Alt boşluk eklendi */
}

.services {
    background-color: #f8f8f8;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* Grid boşluğu artırıldı */
    padding: 20px;
    text-align: center;
}

.services_inside {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
}

.icon-container {
    width: 80px;
    height: 80px;
    margin: 0 auto; /* İkonların ortalanması sağlandı */
    margin-bottom: 10px;
}

.icon-container img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .services_container {
        width: 100%; /* Mobilde tam genişlik sağlandı */
        padding: 0 10px; /* Yan boşluklar azaltıldı */
    }

    .services {
        grid-template-columns: 1fr;
    }

    .icon-container {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 480px) {
    .icon-container {
        width: 50px;
        height: 50px;
    }
}
/*ABOUT ME PAGE*/
.aboutme_container {
    width: 70%;
    margin: 0 auto;
}

.aboutme_1 {
    width: auto;
    height: 400px;
    background-image: url("/images/about_me_bg.png");
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
}

.aboutme_2 {
    background-color: white;
    width: auto;
    height: 300px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.aboutme_3 {
    background-color: #f8f8f8;
    width: auto;
    height: 300px;
    padding: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

#button_hp3 {
    background-color: #e4344c;
    font-size: 30px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 20px;
}

/* Media Queries */
@media (max-width: 768px) {
    .aboutme_container {
        width: 90%;
    }

    .aboutme_1 {
        height: 300px;
    }

    .aboutme_2,
    .aboutme_3 {
        height: auto;
        padding: 20px;
    }

    .aboutme_3 {
        margin-bottom: 50px;
    }

    #button_hp3 {
        font-size: 20px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .aboutme_container {
        width: 100%;
        padding: 0 10px;
    }

    .aboutme_1 {
        height: 200px;
    }

    .aboutme_2,
    .aboutme_3 {
        height: auto;
        padding: 10px;
    }

    .aboutme_3 {
        padding: 50px;
        margin-bottom: 50px;
    }

    #button_hp3 {
        font-size: 16px;
        padding: 8px;
    }
}

/* PROJECTS PAGE*/

.projects_container {
    width: 70%;
    margin: 20px auto 0;
}

.projects_inside {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}

.projects_inside img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.projects_1,
.projects_2,
.projects_3 {
    background-color: #f8f8f8;
    /* Adjust as needed */
    border-radius: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
    gap: 50px;
    padding: 20px;
}

.projects_1 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.projects_2 {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.projects_3 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

/* Media Queries */
@media (max-width: 768px) {
    .projects_container {
        width: 70%;
    }

    .projects_1,
    .projects_2,
    .projects_3 {
        padding: 10px;
        gap: 20px;
    }

    .projects_1 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .projects_2 {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

    .projects_3 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .projects_inside {
        height: 100px;
    }
}

@media (max-width: 480px) {
    .projects_container {
        width: 100%;
        padding: 0 10px;
    }

    .projects_1,
    .projects_2,
    .projects_3 {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 5px;
        gap: 10px;
    }

    .projects_inside {
        height: 80px;
    }
}

/* CONTACT PAGE*/
.contact_container {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.contact_1,
.contact_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.contact_1 form,
.contact_2 iframe {
    flex: 1;
}

.contact_2 iframe {
    width: 100%;
}

.contact_2 {
    margin-top: 50px;
    height: 450px;
}

.contact_1_inside {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    box-sizing: border-box;
    padding: 20px;
    background-color: white;
}

.contact_1_inside > div {
    flex: 1; /* Her iki div'i eşit boyutta yapmak için */
    margin-right: 10px; /* İstenilen boşluğu ayarlayabilirsiniz */
    padding: 10px; /* İçerik içindeki boşluklar */
}

.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea {
    resize: vertical;
}

.form-group button {
    padding: 10px 15px;
    background-color: #e4344c;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #4cae4c;
}

/* Media Queries */
@media (max-width: 768px) {
    .contact_1_inside {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .contact_1 form,
    .contact_2 iframe {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .contact_container {
        width: 100%;
        padding: 0 10px;
        margin-top: 10px;
    }

    .contact_1,
    .contact_2 {
        padding: 15px;
    }

    .contact_2 iframe {
        height: 300px;
    }
}
